# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
info/Mythic_Bastionland_Bastionland_Press_Mythic_Bastionland_Backerit/Mythic Bastionland - \[Bastionland Press] - Mythic Bastionland (Backerit) \[OEF]\[2025-03-11].pdf
info/Karum Station Blues.pdf
info/Courier - Repacked (Printer Friendly - Pages).pdf
info/Farewell to Arms (Mork Borg Hack).zip
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Farewell Ashcan Version FINAL.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Maps.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Mission Tables.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Postcards.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms REDUX e-reader.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms REDUX FINAL.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms REDUX pages.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Sheets.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Solo.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms VEX Postcard.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Missions/Countess Anthelia and the White Crowns pages.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Missions/Countess Anthelia and the White Crowns.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Missions/Josilfa Migol and her Faithspire Horde pages.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Missions/Josilfa Migol and her Faithspire Horde.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Missions/King Fathmu X and the Mad Mists pages.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Missions/King Fathmu X and the Mad Mists.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Missions/King Sigfum and the Beggars of Death pages.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Missions/King Sigfum and the Beggars of Death.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Text Only Versions/Farewell to Arms GM guide text only.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Text Only Versions/Farewell to Arms Player guide text only.pdf
info/Farewell to Arms (Mork Borg Hack)/Farewell to Arms Text Only Versions/Farewell to Arms World guide text only.pdf
projects/demo/src/app/about/contador/contador.component.spec.ts
info/bt-ls-book-1-ENG-SCREEN.pdf
info/bt-ls-hunters-sheets-1.2-eng-BASE-SCREEN.pdf
info/ProjectECCO/ProjectECCO/0_ReadMe.rtf
info/ProjectECCO/ProjectECCO/1_MainFiles/Project ECCO_Pages.pdf
info/ProjectECCO/ProjectECCO/1_MainFiles/Project ECCO_Spreads.pdf
info/ProjectECCO/ProjectECCO/2_Extras/CharSheet_Fillable.pdf
info/ProjectECCO/ProjectECCO/2_Extras/Project ECCO.epub
info/ProjectECCO/ProjectECCO/2_Extras/TableOfContents_Reference.pdf
info/ProjectECCO/ProjectECCO/3_Printables/CharSheet_SelfPrint_LowInk.pdf
info/ProjectECCO/ProjectECCO/3_Printables/CharSheet_SelfPrint.pdf
info/ProjectECCO/ProjectECCO/3_Printables/Planner_Printable.pdf
