# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
info/ALTA_CALIDAD_Guia_del_Jugador_del_Salvaje_Sector_Thepeka-t92vqi.pdf
info/Mythic_Bastionland_Bastionland_Press_Mythic_Bastionland_Backerit/Mythic Bastionland - \[Bastionland Press] - Mythic Bastionland (Backerit) \[OEF]\[2025-03-11].pdf
info/Karum Station Blues.pdf
