# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
info/The_Electric_State_RPG.pdf
info/Breach of Contract/Mothership - Breach of Contract.pdf
info/Breach of Contract/Form Fillable Contracts/Mothership - Breach of Contract - AI EULA.pdf
info/Breach of Contract/Form Fillable Contracts/Mothership - Breach of Contract - Bounty Hunter Services Contract.pdf
info/Breach of Contract/Form Fillable Contracts/Mothership - Breach of Contract - Company Bylaws.pdf
info/Breach of Contract/Form Fillable Contracts/Mothership - Breach of Contract - Death Indemnity Policy.pdf
info/Breach of Contract/Form Fillable Contracts/Mothership - Breach of Contract - Legitimate Salvage Declaration.pdf
info/Breach of Contract/Form Fillable Contracts/Mothership - Breach of Contract - Letters of Marque.pdf
info/Breach of Contract/Form Fillable Contracts/Mothership - Breach of Contract - Secured Promissory Note.pdf
info/Breach of Contract/Form Fillable Contracts/Mothership - Breach of Contract - Testament of Personal Sovereignty.pdf
